config.log
config.status
.deps/
Makefile
cmatrix-modified
cmatrix-modified.o
config.h
matrixlockscreen.spec
stamp-h1
xtrlock-modified
xtrlock-modified.o
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
config.h.in*
